<p>{{registerForm.value | json}}</p>

<form [formGroup]="registerForm" class="form">
  <div class="form-group">
    <label for="userName">User Name</label>
    <input class="form-control" type="text" name="" formControlName="userName" id="userName">
  </div>
  <app-show-validate
    [formField] = "registerForm.get('userName')"
    key = "User name"
  ></app-show-validate>

  <!-- <div class="text-danger" *ngIf="registerForm.get('userName')?.dirty">
    <p *ngIf="registerForm.get('userName')?.errors?.['required']">
      userName không được trống
    </p>
  </div> -->
  <div class="form-group">
    <label for="email">email</label>
    <input class="form-control" type="email" name="" formControlName="email" id="email">
  </div>
  <app-show-validate
    [formField] = "registerForm.get('email')"
    key = "Email"
  ></app-show-validate>
  <div class="form-group">
    <label for="password">password</label>
    <input class="form-control" type="password" name="" formControlName="password" id="password">
  </div>
  <app-show-validate
    [formField] = "registerForm.get('password')"
    key = "Password"
  ></app-show-validate>
  <button class="btn btn-success">Register</button>
</form>
